:root {
  --color-primary: rgb(122,196,177);
  --color-secondary: rgb(229,174,147);
  --color-tertiary: #fbbc34;
  --color-quaternary: #E0B252;
  --color-quinary: #459647;
  --color-senary: #f7f7f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: gray;
  box-sizing: border-box;
  font-size: 1.6rem; /* Define o tamanho base do texto para 16px */
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}